@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}
body {
  color: #333;
  font-family: sans-serif;
}
img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}
.contents {
  padding: 4% 6%;
}
.contents__ttl {
  width: 50%;
}
.contents__table {
  border-collapse: collapse;
  border: 1px solid #333;
  box-sizing: border-box;
  width: 100%;
  margin-top: 2%;
}
.contents__table caption {
  background-color: #edf;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid #333;
  border-bottom: none;
  text-align: left;
  width: calc(100% - 4% - 2px);
  padding: 1% 2%;
}
.contents__table__tr{
  border-bottom: 1px solid #333;
}
.contents__table__index {
  position: relative;
  background-color: #fbd;
  border-right: 1px solid #333;
  text-align: left;
  padding: 2%;
  width: 25%;
}
.required{
  position: absolute;
  top: auto;
  right: 10%;
  font-weight: normal;
  background-color: red;
  border-radius: 0.8em;
  padding: 0 5%;
  color: #fff;
}
.text__frame {
  height: 3vh;
}
.contents__table__option {
  background-color: transparent;
}
.contents__table__detail {
  padding-left: 2%;
  width: 75%;
}
.input_click {
  cursor: pointer;
}
.contents__table__detail .input_click {
  margin-right: 2%;
}
.contents__table__detail .input_click:last-child {
  margin-left: 0;
}
.optional {
  position: absolute;
  top: auto;
  right: 10%;
  font-weight: normal;
  border: 1px solid #333;
  border-radius: 0.8em;
  padding: 0 5%;
}
.input_block {
  display: block;
  cursor: pointer;
  padding-top: 2%;
}
.about_link {
  padding: 2% 0;
}

/* 2つめtable */
.table_margin {
  margin-top: 4%;
}
.adress__index {
  padding: 10% 2%;
}
.postal {
  display: flex;
  align-items: center;
}
.postal::before {
  content: "〒";
  margin-right: 1%;
}
.postal__search {
  margin-left: 2%;
}
.postal__attention::before {
  content: "※";
}
.adress {
  display: inline-grid;
  margin-top: 2%;
}
.adress__box {
  height: 4vh;
  width: 7vw;
  cursor: pointer;
}
.adress__frame {
  width: 40vw;
  margin-top: 2%;
}
.building_type {
  height: 4vh;
  width: 10vw;
  cursor: pointer;
}
.building_floor {
  height: 4vh;
  width: 10vw;
  cursor: pointer;
  margin-left: 2%;
}
.transportation {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.transportation__short_element {
  width: 20%;
}
.transportation__long_element {
  width: 28%;
}
.contents__table__transportation {
  background-color: transparent;
  padding: 4% 2%;
}
.name_index {
  padding: 4% 2%;
}
.info__flex {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 3%;
}
.info__flex__box {
  width: 50%;
}
.info__family::before{
  content: "姓";
  margin: 0 2% 0 6%;
}
.info__name::before{
  content: "名";
  margin: 0 2% 0 6%;
}
.info__kana_family {
  margin-top: 2%;
}
.info__kana_family::before{
  content: "セイ";
  margin-right: 2%;
}
.info__kana_name {
  margin-top: 2%;
}
.info__kana_name::before{
  content: "メイ";
  margin-right: 2%;
}
.info__name__text {
  height: 3vh;
  width: 16vw;
}
.tel_index {
  padding: 3% 2%;
}
.tel_frame {
  height: 3vh;
  width: 30vw;
}
.tel_attention::before{
  content: "※";
}
.mail__frame {
  height: 3vh;
  width: 30vw;
}
.contents_position {
  position: relative;
}
.input_contact {
  margin-right: 2%;
  cursor: pointer;
}
.contents__table__contact {
  background-color: transparent;
  padding: 4% 2%;
}
.contact__attention::before {
  content: "※";
  position: absolute;
  bottom: 40%;
  left: auto;
}
.contact__attention__text {
  padding-left: 2%;
}
.contents__table__other {
  background-color: transparent;
  padding: 10% 2%;
}
.other__textarea {
  height: 23vh;
  width: 58vw;
}
.other__attention::before {
  content: "※";
}
.btn {
  width: 32%;
  margin: 2% auto 0;
}
.confirmation::before {
  content: "※";
}
.submit__btn {
  display: block;
  width: 100%;
  height: auto;
}
